<%= form_with(model: provider) do |form| %>

<div class="field">
    <%= form.label :buyer, class: 'label' %>
    <div class="control">
        <%= form.text_field :buyer, class: 'input' %>
    </div>
</div>

<div class="field">
    <%= form.label :description, class: 'label' %>
    <div class="control">
        <%= form.text_field :description, class: 'input' %>
    </div>
</div>

<div class="field">
    <%= form.label :unit_price, class: 'label' %>
    <div class="control">
        <%= form.text_field :unit_price, class: 'input' %>
    </div>
</div>

<div class="field">
    <%= form.label :quantity, class: 'label' %>
    <div class="control">
        <%= form.number_field :quantity, class: 'input' %>
    </div>
</div>

<div class="field">
    <%= form.label :address, class: 'label' %>
    <div class="control">
        <%= form.text_field :address, class: 'input' %>
    </div>
</div>

<div class="field">
    <%= form.label :supplier, class: 'label' %>
    <div class="control">
        <%= form.text_field :supplier, class: 'input' %>
    </div>
</div>

<div class="control">
    <button class="button is-primary">Submit</button>
</div>
<br>
<% end %>