<p id="notice"><%= notice %></p>

  <h4>
      <strong>Buyer:</strong>
      <%= @provider.buyer %>
  </h4>
  <br>
  <p>
      <strong>Description:</strong>
      <%= @provider.description %>
  </p>
  <br>
  <p>
      <strong>Unit price:</strong>
      <%= @provider.unit_price %>
  </p>
  <br>
  <p>
      <strong>Quantity:</strong>
      <%= @provider.quantity %>
  </p>
  <br>
  <p>
      <strong>Address:</strong>
      <%= @provider.address %>
  </p>
  <br>
  <p>
      <strong>Supplier:</strong>
      <%= @provider.supplier %>
  </p>
  <br>

<%= link_to 'Back', providers_path, class: 'button is-dark' %>