<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @provider.buyer %>
</p>

<p>
  <strong>Description:</strong>
  <%= @provider.description %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @provider.unit_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @provider.quantity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @provider.address %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @provider.supplier %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
